@import "tailwindcss";

@theme {
    --color-n100: #f3f3f3;
    --color-n200: #e6e6e6;
    --color-n300: #cdcdcd;
    --color-n400: #b4b4b4;
    --color-n500: #505050;
    --color-n600: #373737;
    --color-n700: #2b2b2b;
    --color-n800: #1e1e1e;
    --color-n900: #121212;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: var(--color-n900);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
}

body {
    background-color: #121212;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    cursor: pointer;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
}

@keyframes rotate-out-90 {
    from {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.rotate-out {
    animation: rotate-out-90 0.2s ease-in-out forwards;
    transform-origin: center;
}

@keyframes rotate-in-90 {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.rotate-in {
    animation: rotate-in-90 0.2s ease-in-out forwards;
    transform-origin: center;
}

@keyframes ellipsis {
    0% {
        content: "...";
    }
    25% {
        content: "'..";
    }
    50% {
        content: ".'.";
    }
    75% {
        content: "..'";
    }
}

.ellipsis::after {
    content: "";
    animation: ellipsis 0.9s infinite steps(1);
}
